svg {
    margin: 0 auto;
}

#verlorenText {
    color: red;
    font-size: 40px;
    font-style: italic;
    text-shadow: -4px 4px 4px #000000;
}

#bogen, #mast, #balken, #strick, #verlorenText, .maxerl {
    display: none;
}

h1, footer, #beschreibung {
    color: pink ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

body {
    background-color: grey;
    text-align: center;
}

#buchstabenBtns {
    text-align: center;
}


footer {
    position: absolute;
    left: 10;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
